.navbar{
    margin: 0px 50px;
}
.nav-logo{
    width: 205px;
    height: 60px;
}
.navbar-collapse ul{
    margin-left: 145px;
    gap: 50px;
}
.navbar-collapse ul li a{
    font-size: 24px;
   font-weight: bold;
   color: rgb(0, 0, 0);
}
.dropdown-menu li{
    margin-left: 0px;
}
@media screen and (max-width:768px) {
    .navbar{
        margin: 0px 20px;
    }
    .nav-logo{
        width: 185px;
        height: 60px;
    }.dropdown-menu {
        margin-right: 100px;
    }
    .navbar-collapse ul{
        gap: 10px;
    }
    
}